SQMS_AI_LLM_BASE_URL=http://10.64.10.48/v1
SQMS_AI_LLM_API_KEY=EMPTY
SQMS_AI_LLM_MODEL=auto
SQMS_AI_LLM_CONTEXT_TOKENS=4096
SQMS_AI_LLM_TIMEOUT_SECONDS=120
SQMS_AI_DEFAULT_FLOW=procurement
SQMS_AI_SEMANTIC_ENABLED=false
SQMS_AI_EMBEDDING_MODEL=BAAI/bge-m3
SQMS_AI_RERANK_ENABLED=false
SQMS_AI_RERANK_MODEL=BAAI/bge-reranker-v2-m3
SQMS_AI_DEBUG_RESPONSES=false
